#form-wrapper {
  background: white;
  border-top: 2px solid #8a72ea;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 1rem;
}

.form-control {
  border: 1px solid #d9e6e9;
  margin-bottom: 1rem;
}

.btn-custom {
  background: #27a716;
  color: white;
  margin: 1rem auto;
  display: block;
  padding-left:2rem;
  padding-right:2rem;
}

.form-error {
  text-align: center;
  color: red;
  font-weight: 500;
}
