.badge-list {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.badge-list li.list-inline-item {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.badge-list li img {
  height: 60px;
}

h6.badge-header {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.upcoming img {
  filter: grayscale(100%);
}

@media (max-width: 768px){

  .badge-list {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .badge-list li img {
    height: 40px;
  }
}
