#bounty-list {
  border-bottom: 1px solid #d9e6e9;
  display: table;
  width: 100%;
}

#bounty-list li {
  vertical-align: text-top;
  border-bottom: 2px solid transparent;
}

#bounty-list li.list-inline-item{
  display: table-cell;
}

#bounty-list li:hover{
  border-bottom: 2px solid #27a716;
}

#bounty-list li.active{
  border-bottom: 2px solid #27a716;
}

#bounty-list li p{
  color: #512ca3;
  font-size: 12px;
  font-weight: 500;
  padding-top: .3rem;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#bounty-list li img {
  height: 100px;
}

@media (max-width: 768px){

  #bounty-list{
    text-align: center;
  }

  #bounty-list li.list-inline-item{
    display: inline-block;
    width: 40%;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  #bounty-list li:hover{
    background-color: white;
    border-bottom: none;
  }

  #bounty-list li.active{
    background-color: white;
    border-bottom: none;
  }
}
