#footer {
  background: #3f1c78;
  padding:2rem 3rem;
}

.copyright {
  font-weight: 300;
  font-size: 11px;
  color: white;
}

.copyright a {
  color: white;
}

.copyright a:hover {
  color: #ddd;
}

#social-list li:not(:last-child){
  margin-right: .7rem;
}

#social-list img {
  width: 30px;
}
