#header-bar {
  background: #7447f7;
  background-image: url('../images/drone-header.png');
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  padding: 3rem 0;
}

#header-bar h1 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

#header-bar p {
  color: white;
  font-size: 14px;
}

#header-bar p span {
  display: block;
}

@media (max-width: 960px) {
  #header-bar {
    background-size: 60%;
  }
}

@media (max-width: 768px){

  #header-wrapper .container {
    max-width: 100%;
  }
  #header-wrapper .container .row {
    padding: 0 0;
  }

  #header-bar {
    background-size: cover;
    background-image: url('../images/drone-header-mob.png');
    background-position: center;
    height: 400px;
  }

  #header-bar h1 {
    display: none;
  }

  #header-bar p {
    display: none;
  }

}


@media (max-width: 580px) {
  #header-bar {
    height: 290px;
  }
}
