#header-bar {
  background: #7447f7;
  background-image: url('../images/drone-header.png');
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
  padding: 3rem 0;
}

#header-bar h1 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

#header-bar p {
  color: white;
  font-size: 14px;
}

#header-bar p span {
  display: block;
}

@media (max-width: 960px) {
  #header-bar {
    background-size: 60%;
  }
}

@media (max-width: 768px){

  #header-bar {
    background-size: 100%;
  }

  #header-bar h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #000;
  }

  #header-bar p {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
  }
}

