#header-bar {
  background: #7447f7;
  background-image: url('../images/drone-header.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
  padding: 4rem 3rem;
}

#header-bar h1 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

#header-bar p {
  width: 40%;
  color: white;
  font-size: 14px;
}

