#notification-bar {
  padding: .5rem 3rem;
  background: #603a9d;
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
}

#notification-bar p {
  margin-bottom: 0;
  display: inline-block;
}

.notification-button {
  background: #979ec4;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: .4rem 2rem;
}

.close {
  text-shadow: none;
  cursor: pointer;
}

