.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: #f4f8f9;
}

a:hover {
  text-decoration: none;
}

.section-header{
  color: #512ca3;
  font-weight:300;
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.custom-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
