.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: #f4f8f9;
}

a:hover {
  text-decoration: none;
}

.section-header{
  color: #512ca3;
  font-weight:300;
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

.custom-modal {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  background-color: #f4f8f9;
  border-radius: 5px;
  max-width: 90%;
  max-height: calc(100vh - 50px);
  padding-bottom: 2rem;
  overflow-y: auto;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-close-bar {
  padding:1rem 2rem;
}

label {
  margin-bottom: 0;
}

.form-control{
  font-weight: 300;
}

#nav-wrapper{
  background-color: #3f1c78;
}

#notification-wrapper{
  background-color: #603a9d;
}

#header-wrapper{
  background-color: #7447f7;
}

#content-wrapper {
  padding:3rem 0;
}

#footer-wrapper{
  background-color: #3f1c78;
}

@media (max-width: 768px){
  .container .row {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
