.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: #f4f8f9;
}

a:hover {
  text-decoration: none;
}

.section-header{
  color: #512ca3;
  font-weight:300;
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

.custom-modal {
  position: relative;
  margin: 20px auto;
  background-color: #f4f8f9;
  border-radius: 5px;
  max-height: calc(100vh - 50px);
  padding: 0 10px 2rem;
  overflow-y: auto;
  max-width: 70%;
}

.close-wrapper {
  position: fixed;
  z-index: 1;
}

.header-wrapper {
  margin-top: 50px;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-close-bar {
  padding:1rem 2rem;
}

label {
  margin-bottom: 0;
}

.form-control{
  font-weight: 300;
}

#nav-wrapper{
  background-color: #3f1c78;
}

#notification-wrapper{
  background-color: #603a9d;
}

#header-wrapper{
  background-color: #7447f7;
}

#content-wrapper {
  padding:3rem 0;
}

#footer-wrapper{
  background-color: #3f1c78;
}



@media (min-width: 768px){
  .custom-modal {
    max-width: 90%;
  }

  .close-wrapper{
    width: 90%;
  }
}

@media (min-width: 960px){
  .custom-modal {
    max-width: 90%;
  }
  .close-wrapper {
    width: 90%;
  }
}

@media (min-width: 1200px){
  .custom-modal {
    max-width: 60%;
  }
  .close-wrapper {
    width: 60%;
  }
}



@media (max-width: 768px){
  .container .row {
    padding-left: .3rem;
    padding-right: .3rem;
  }

  #main-content {
    padding-right: 5px;
    padding-left: 5px;
  }

  .custom-modal {
    max-width: 95%;
  }

  .close-wrapper {
    width: 95%;
  }

  #content-wrapper {
    padding: 0 0 3rem;
  }
}
