#update-list li {
  color: #506177;
}

.update-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: grey;
  display: inline-block;
  margin-right: 20px;
  transform: translateY(-10px);
}

.update-image img{
  width: 100%;
  border-radius: 50%;
}

.update-user{
  display: inline-block;
}

h5.update-title{
  font-size: 12px;
}

p.update-date{
  font-size: 10px;
}

p.update-description{
  margin-bottom: 0;
}
